extends ../main-layout/main-layout

block content
    .auth-bg
        // Animated background area
        .area
            ul.circles
                li
                li
                li
                li
                li
                li
                li
                li
                li
                li
        // Auth content on top of background
        .auth-content
            .login-container
                .login-form
                    h1.login-title Login

                    if errorMessage
                        .alert.alert-danger=errorMessage

                    form(action="/login", method="POST", id="loginForm", novalidate="true")
                        input(type="hidden", name="_csrf", value=csrfToken)
                        .form-group
                            label(for="email") Email
                            input#email.form-control(type="email", name="email", placeholder="Enter your email", required)
                            .invalid-feedback

                        .form-group
                            label(for="password") Password
                            input#password.form-control(type="password", name="password", placeholder="Enter your password", required, minlength="1")
                            .invalid-feedback

                        .form-group
                            button.btn.btn-primary(type="submit") Login

                        .form-group
                            p.signup-link Don't have an account?
                                a(href="/signup") Sign up here

                        .form-group
                            p.signup-link
                                a(href="/reset-password") Reset password
