extends ../main-layout/main-layout

block content
    form.product-form.card(action=(editing ? "/admin/edit-product" : "/admin/add-product"), method="POST", id="productForm", novalidate="true")
        .form-group
            label(for="title") Title
            input.form-control(type="text", name="title", id="title", value=(editing ? product.title : ""), required, minlength="3", maxlength="100")
            .invalid-feedback

        .form-group
            label(for="imageUrl") Image URL
            input.form-control(type="url", name="imageUrl", id="imageUrl", value=(editing ? product.imageUrl : ""), required)
            .invalid-feedback

        .form-group
            label(for="price") Price
            input.form-control(type="number", name="price", id="price", step="0.01", min="0.01", value=(editing ? product.price : ""), required)
            .invalid-feedback

        .form-group
            label(for="description") Description
            textarea(name="description", id="description" rows=5, required, minlength="10", maxlength="500")= editing ? product.description : ""
            .invalid-feedback

        input(type="hidden", name="productId", value=editing ? product._id : "")
        input(type="hidden", name="_csrf", value=csrfToken)
        button(type="submit")= editing ? "Update Product" : "Add Product"
