extends ../main-layout/main-layout

block content
    .auth-bg
        // Animated background area
        .area
            ul.circles
                li
                li
                li
                li
                li
                li
                li
                li
                li
                li
        // Auth content on top of background
        .auth-content
            .login-container
                .login-form
                    h1.login-title Reset Password

                    if errorMessage
                        .alert.alert-danger=errorMessage
                    if successMessage
                        .alert.alert-success=successMessage

                    form(action="/reset-password" method="POST", novalidate="true", id="resetPasswordForm")
                        input(type="hidden", name="_csrf", value=csrfToken)
                        .form-group
                            label(for="email") Email
                            input#email.form-control(type="email", name="email", placeholder="Enter your account email", required)
                            .invalid-feedback

                        .form-group
                            button.btn.btn-primary(type="submit") Send Reset Link

                        .form-group
                            p.signup-link Remembered your password?
                                a(href="/login") Back to login
