extends ../main-layout/main-layout

block content
    if orders.length > 0
        div.orders
            each order in orders
                div.order
                    div.order__header
                        h2 Order ##{order._id}
                        a.download-invoice-btn(href="/orders/" + order._id) 
                            span.download-icon 📄
                            span.download-text Download Invoice
                    ul.order__items
                        each item in order.products
                            li.order__item
                                h3 #{item.product.title}
                                p Quantity: #{item.quantity}
    else
        h1 No Orders Found!
