extends ../main-layout/main-layout

block content
    if products.length > 0
        div.cart__item-list
            ul
                each p in products
                    li.cart__item
                        h1 #{p.title}
                        h2 Quantity: #{p.cartItem.quantity}
                        form(action="/cart-delete-item", method="POST")
                            input(type="hidden", value=p.id, name="productId")
                            button.btn.danger(type="submit") Delete

            h2 Total price: #{totalPrice}

            form(action="/create-order", method="POST")
                button.btn.danger(type="submit") Order Now!
    else
        h1 No Products in Cart!
