extends ../main-layout/main-layout

block content
    if orders.length > 0
        div.orders
            each order in orders
                div.order
                    h2 Order ##{order.id}
                    ul.order__items
                        each product in order.products
                            li.order__item
                                h3 #{product.title}
                                p Quantity: #{product.orderItem.quantity}
                                p Price: $#{product.price}
    else
        h1 No Orders Found!
